---
layout: default
---

<div id="cover" class="container"
     {% if page.cover %}style="background-image: url({{ page.cover }});"{% endif %}>
    <div>
        <div id="cover-author-image"
             {% if page.image %}style="background-image:url({{ page.image }});"{% endif %}>
        </div>
        <div>
            <h1>{{ page.name | default: page.title }}
              {% if page.name and page.name != page.title %}
              <b style="font-size:11px;">
                &#40;{{ page.title }}&#41;
              </b>
              {% endif %}
            </h1>
        </div>
        <p style="padding-top:1px;">{{ page.desc }}</p>
    </div>
</div>



<div id="navbar" class="container">
    <h5>&nbsp;{{ page.name | default: page.title }}'s Posts</h5>
</div>

<div id="content" class="container">
    <div id="author-content" role="main">
        <ul id="post-list">
            {% for post in site.posts %}
                {% if post.author == page.title %}
                    {% include item.html %}
                {% endif %}
            {% endfor %}
        </ul>
        {% include pagination.html %}
    </div>
</div>
